<div class="container login-page">
    <div class="brand-header">
        <h1 class="brand-header__name">
            Progresso
        </h1>
    </div>
    <div class="login-panel">
        <div class="login-panel__section--login">
            <span class="login-panel__section--login__text">Log In</span>
        </div>

        <div class="login-panel__section--button">
            <a href="/auth/github">With Your GitHub Account</a>
        </div>

        <div class="login-panel__section--or">
            <span class="login-panel__section--or__text">or</span>
        </div>

        <div class="login-panel__section--button">
            <a href="/guest_login">As a Guest</a>
        </div>
    </div>
    <div class="brand-footer">
        <p class="brand-footer__description">
            Task manager. <a href="http://trello.com">Trello</a> Clone.<br>
            See the <a href="http://github.com/dylnclrk/progresso">Code</a>.
            Touch the magic.<br>
            Crafted by <a href="http://dylnclrk.io">Dylan Patrick Clark</a>.
        </p>
    </div>
</div>
