<div class="header">
    <div class="header__boards-menu">
        Boards
    </div>
    <div class="header__brand">
        <h4 class="header__brand__text">
            <a href="#">
                Progresso
            </a>
        </h4>
    </div>
    <div class="header__account-menu">
        <span class="header__account-menu__name">
            <%= current_user.name %>
        </span>
        <img class="header__account-menu__avatar" src="http://www.gravatar.com/avatar/<%= current_user.gravatar %>?s=64">
    </div>
</div>
