<div class="header">
    <div class="header__boards-menu">
        Boards
    </div>
    <div class="header__brand">
        Progresso
    </div>
    <div class="header__account-menu">
        <%= current_user.name %>
        <img src="http://www.gravatar.com/avatar/<%= current_user.gravatar %>?s=64">
    </div>
</div>
