<h4 class='modal--new-board__header'>Create Board</h4>

<a class='modal--new-board__close'><i class='fa fa-times'></i></a>
<form class="modal--new-board__form">
<label for="board-name" class="modal--new-board__name-label">Board Name</label>
<input type='text' class='modal--new-board__name' id="board-name">
<input type='submit' class='modal--new-board__submit'>

</form>