<div class="board__name"><h1 class="board__name__text"><%= this.model.get('name') %></h1></div>
<div class="board__lists-area">
     <ul class="lists" id="lists"></ul>
     <div class="board__lists-area__inset-shadow-mask"></div>
</div>
