/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Colors
================================================== */

$Color1: #dbdbdb;
$Color2: #23719F;
$White: #FFF;

$Blackdark: #393939;
$Blacklight: lighten($Blackdark, 5%);

$body-bg: $Color2;
$lists-bg: $Color2;
$list-bg: $Color1;
$card-bg: #FFF;

$card-hover-bg: darken($card-bg, 5%);
$card-placeholder: darken($card-bg, 30%);

$text: $Blacklight; 
$text-dark: $Blackdark;

/* #Fonts
================================================== */
$sans: 'Helvetica Neue', sans-serif;


body {
  font-family: $sans;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans
}


/* #Site Styles
================================================== */
html, body {
  box-sizing: border-box;
  color: $text;
  background-color: $White;
  margin: 0;
  padding: 0.1px;
  height: 100%;
}

a {
  color: $text;
}

a:hover {
  color: $text-dark
}

.container {
  height: 100%;
  padding-top: 30px;
  
}

.board-view .container {
  background-color: $lists-bg;
}

/* #Page Styles
================================================== */
.boards-index {
  background-color: $White;
}

.board {
   background-color: $lists-bg;
   height: 100%;
}

.boards__board-link {
  position: relative;
  background-color: $lists-bg;
  padding: 12px;
  height: 90px;
  display: inline-block;
  vertical-align: top;
  width: 220px;  
  margin: 0 5px;
  padding: 4px 3px 3px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: darken($lists-bg, 5%);
  }
}

.boards__board-link--new {
  @extend .boards__board-link
}

.boards__board-link__text {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  color: #f6f6f6;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
}

.boards__board-link--new__text {
  @extend .boards__board-link__text
}


.boards {
  padding: 12px;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  list-style: none;
}

.board__name__text {
  margin: 0;
  padding: 0 12px;
  padding-left: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 1.6em;
}

.board__name__form input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 1.6em;
  font-family: $sans;
  box-shadow: none;
  width: 100%;
  font-style: italic;
  letter-spacing: 0.02em;
  font-size: 1.6em;
  font-weight: bold;
  background-color: $body-bg;
}

.board__lists-area {
  position: relative;
}

.lists {
  padding: 12px;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  list-style: none;
}

.list_header{
    width: 100%
}

.list__name {
  font-family: $sans;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.list {
  background-color: $list-bg;
  padding: 12px;
  display: inline-block;
  vertical-align: top;
  width: 220px;  
  margin: 0 5px;
  padding: 4px 3px 3px;
  border-radius: 3px;
}

.list--placeholder {
  @extend .list;
  background-color: darken($body-bg, 10%);
  width: 220px;
  height: 100px;
}

.ui-sortable-helper {
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.list--new {
  @extend .list;
}

.card {
  margin: 3px;
  background-color: $card-bg;
  border-radius: 3px;
  border-bottom: 1px solid #bdbdbd;
  cursor: pointer;
  max-width: 300px;
  min-height: 20px;
  padding: .2em .6em;
  font-size: 14px;
  font-weight: regular;
}

.card--placeholder { 
  @extend .card;
  height: 20px; 
  line-height: 1.2em; 
  border-radius: 3px;
  background: $card-placeholder;
}

.card:hover {
  border-radius: 3px;
  background: $card-hover-bg;
  cursor: pointer;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 10px;
}

input.card-body {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 14px;
  font-family: $sans;
  box-shadow: none;
  width: 100%;
  font-style: italic;
}

.list__header {
    cursor: -webkit-grab;
    cursor: grab;
    padding: 3px 26px 2px 6px;
  min-height: 19px;
}

.new-card-button {
    cursor: pointer;
}

.list__name__form {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 15px;
  font-family: $sans;
  width: 100%;
  font-style: italic;
  font-weight: bold;
}

.header {
  position: absolute;
  left:0;
  right: 0;
  background: linear-gradient(to bottom, #27709b 0, #24688f 100%);
  padding: 5px;
  height: 30px;
  overflow: hidden;
}

.header__section {
  position: absolute;
}

.header__boards-menu {
  @extend .header__section;
}

.header__brand {
  @extend .header__section;
  width: 99%;
  text-align: center;
}

.header__brand__text {
  margin: 0;
  margin-top: -1px;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
  a {
    color: darken($Color1, 15%);  
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: darken($Color1, 5%)
    }
  }
}

.header__account-menu {
  @extend .header__section;
  right: 5px;
  border-radius: 3px;
  background-color: #c7c7c7;
  height: 30px;
  min-width: 30px;
}

.header__account-menu__name {
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 8px;
}

.header__account-menu__avatar {
  height: 30px;
  width: 30px;
  float: left;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}

.login-page {
  background-color: #e6e6e6;
  padding-top: 70px;
}

.brand-header {
  min-width: 270px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  color: darken($Color2, 0%);
}

.brand-header__name {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-style: italic;
  font-size: 3em;
  a {
    color: darken($Color2, 0%);  
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: darken($Color2, 5%)
    }
  }
}

.brand-footer {
  @extend .brand-header;
}

.brand-footer__description {
  color: darken(#e6e6e6, 30%);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  a {
    color: darken(#e6e6e6, 40%);
    &:hover {
      color: darken($Color2, 50%);
    }
  }
}

.login-panel {
  width: 30%;
  min-width: 270px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #bfbfbf;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.login-panel__section {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px
}

.login-panel__section--or{
  @extend .login-panel__section;
  font-weight: 700;
  font-size: 14px;
}

.login-panel__section--login {
  @extend .login-panel__section;
  text-align: left;
}

.login-panel__section--button {
  @extend .login-panel__section;
  width: 100%;
  a {
  background: linear-gradient(to bottom, #24a828 0, #1b7e1e 100%);
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  width: 60%;
  font-weight: 700;
  line-height: 20px;
  padding: 7px 20px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  &:hover {
    background: linear-gradient(to bottom, #1f9323 0, #166919 100%);
  }
}
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/