/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Colors
================================================== */
/*
#FFF1DA
#F4E8FF
#F8FFD4
#C6F9FF
#FFD1C7
*/

$Color1: #F8FFD4;
$Color2: #C6F9FF;
$White: #F4E8FF;
$Blacklight: darken($White, 80%);
$Blackdark: darken($White, 90%);

$Shadow: #AAA;

$body-bg: lighten($Color2, 20%);
$lists-bg: $Color2;
$list-bg: lighten($Color2, 10%);
$card-bg: lighten($Color2, 20%);

$card-hover-bg: darken($card-bg, 5%);
$card-placeholder: darken($card-bg, 30%);

$text: $Blacklight; 
$text-dark: $Blackdark;

/* #Fonts
================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

$sans: 'PT Sans Narrow', sans-serif;
$serif: 'PT Serif', serif; 


body {
  font-family: $serif;
  box-sizing: border-box;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans
}


/* #Site Styles
================================================== */
body {
  color: $text;
  background-color: $body-bg;
  margin: 0;
}

a {
  color: $text;
}

a:hover {
  color: $text-dark
}

/* #Page Styles
================================================== */
.board {
   margin: 24px;
   padding: 12px;
}

.board__name {
}

.board__name__text {
  margin: 0;
  padding: 0 12px;
  padding-left: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
  font-size: 1.6em;
}

.board__name__form input {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 1.6em;
  font-family: $sans;
  box-shadow: none;
  width: 100%;
  font-style: italic;
  letter-spacing: 0.02em;
  font-size: 1.6em;
  font-weight: bold;
  background-color: $body-bg;
}

.board__lists-area {
  position: relative;
  background-color: $lists-bg;
}

.board__lists-area__inset-shadow-mask { 
  // Cute workaround.
  position: absolute;
  top: 0px; left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none; /* to make clicks pass through */
  box-shadow: 3px 0 10px -4px $Shadow inset, 
             -3px 0 10px -4px $Shadow inset;
}

.lists {
  padding: 12px;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  list-style: none;
}

.lists__list__name {
  font-family: $sans;
  font-weight: bold;
}

.list {
  background-color: $list-bg;
  padding: 12px;
  display: inline-block;
  vertical-align: top;
  width: 220px;  
  margin: 0.5em;
  margin-left: 0;
  border-radius: 3px;
}

.list + .list {
  margin-left: 0.5em;
}

.list--new {
  @extend .list
}

.card {
  margin: 2px;
  background-color: $card-bg;
  padding: 0 0.6em;
}

.card--dragged {
  box-shadow: 3px 0 10px -4px $Shadow;
}

.card--placeholder { 
  @extend .card;
  height: 25px; 
  line-height: 1.2em; 
  border-radius: 3px;
  background: $card-placeholder;
}

.card:hover {
  border-radius: 3px;
  background: $card-hover-bg;
  cursor: pointer;
}

.cards {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 10px;
}

input.card-body {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 1em;
  font-family: $serif;
  box-shadow: none;
  width: 100%;
  font-style: italic;
}

.lists__list__name__form {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-size: 1em;
  font-family: $sans;
  width: 100%;
  font-style: italic;
  font-weight: bold;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/